<div class="form-group">
  <%= form.label :name, class: "control-label" %>
  <%= form.text_field :name, class: "form-control", autocomplete: "off" %>
  <%= error_messages_for(form, :name) %>
</div>
<div class="form-group">
  <%= form.label :pattern, class: "control-label" %>
  <%= form.text_area :pattern, id: "metric-form-pattern", class: "form-control", placeholder: '^(?<user>[^ ]+) ate (?<number>\d+(\.\d+)?) hot ?dogs?$' %>
  <%= error_messages_for(form, :pattern) %>
  <p class="help-block">A pattern to match an incoming <code>/<%= ENV["SLACK_COMMAND"] %></code>
  command. Use named groups to capture metadata. The <code>user</code> named
  group is for attributing a data point to a different Slack username. The
  <code>number</code> named group is for quantifying the data point (default is
  1). Use <%= link_to "Rubular", "http://rubular.com", target: "_blank" %> for
  help.</p>
</div>
<div class="form-group">
  <label for="metric-form-command">Sandbox</label>
  <div class="input-group">
    <div class="input-group-addon">/<%= ENV["SLACK_COMMAND"] %></div>
    <input autocomplete="off" class="form-control" id="metric-form-command" type="text">
  </div>
  <p class="help-block">Use this field to test your pattern. Try a command and see what data is captured!</p>
</div>
<div class="form-group">
  <%= form.label :help, class: "control-label" %>
  <div class="input-group">
    <div class="input-group-addon">/<%= ENV["SLACK_COMMAND"] %></div>
    <%= form.text_field :help, class: "form-control", placeholder: "i ate # hot dogs", autocomplete: "off" %>
  </div>
  <%= error_messages_for(form, :help) %>
  <p class="help-block">Help text for using this pattern.</p>
</div>
<div class="form-group">
  <%= form.label :feedback, class: "control-label" %>
  <%= form.text_field :feedback, class: "form-control", placeholder: "Got it… %{number} hot dogs!", autocomplete: "off" %>
  <%= error_messages_for(form, :feedback) %>
  <p class="help-block">This text will be shown to the user after successful tracking. Inject your custom metadata into the message using <code>%{number}</code> syntax.</p>
</div>
<div class="form-group">
  <%= button_tag fa_icon("check", text: "Save Metric"), class: "btn btn-block btn-lg btn-primary", data: { disable: true } %>
</div>
