<div class="metric-list container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <nav class="pull-right">
          <%= link_to fa_icon("plus", text: "Add Metric"), new_metric_path, class: "btn btn-primary" %>
        </nav>
        <h1>
          <span class="metric-list-count"><%= @metrics.size %></span>
          <%= "Metric".pluralize(@metrics.size) %>
        </h1>
      </div>
      <table class="metric-table table table-striped">
        <thead>
          <tr>
            <th><%= Metric.human_attribute_name(:name) %></th>
            <th class="hidden-xs"><%= Metric.human_attribute_name(:help) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "row", collection: @metrics, as: :metric %>
        </tbody>
      </table>
    </div>
  </div>
</div>
