<div class="metric-form">
  <%= form_for @metric do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :pattern %>
    <%= form.text_field :pattern %>
    <%= form.submit %>
  <% end %>
</div>
